services:
  postgres:
    image: postgres:15
    container_name: postgres_aihunt_db
    environment:
      POSTGRES_DB: aihunt
      POSTGRES_USER: aihunt
      POSTGRES_PASSWORD: aihunt
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    restart: unless-stopped
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aihunt_app
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - DB_HOST=postgres
    depends_on:
      - postgres
    restart: unless-stopped
